#canvas {
  background-image: url("../assets/field.png");
  border: 5px solid white;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  display: block;
  /* flex-direction: row; */
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

.title {
  color: white;
  display: block;
  text-align: center;
  font-size: 50px;
  margin: auto;
  margin-bottom: -40px;
  letter-spacing: 10px;
}

body {
  background-image: url("../assets/crowd.png");
}

#start-button {
  background-color: red;
  color: white;
  border: 2px solid black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  transition-duration: 0.4s;
  border-radius: 10%;
  margin-left: 10%;
  margin-top: -10px;
  margin-bottom: 20px;
  flex-direction: column;
}

#start-button:hover {
  background-color: black;
  border: 2px solid red;
  color: white;
  cursor: pointer;
}

.instructions {
  color: white;
  display: flex;
  text-align: left;
  margin: auto;
  flex-direction: column;
}

.instructions2 {
  color: white;
  font-size: 20px;
}
